// ============================================================================
//  Restricciones Fisicas (.cst) — Tang Primer 25K (GW5A-LV25MG121NC1/I0)
//  Proyecto: Contador Reversible 0-9 con LCD 1602 (I2C PCF8574)
//  Autor: Urik Valenzuela · Matricula: 2025-0469 · 20250469@itla.edu.do
//  Asignatura: Sistemas Digitales con FPGA
// ============================================================================

// Reloj maestro de 50 MHz integrado en la placa (Dock board)
IO_LOC  "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// Pulsador S1 integrado en la placa base (Reset manual)
IO_LOC  "rst_btn" H11;
IO_PORT "rst_btn" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;

// Bus I2C hacia pantalla LCD 1602 (modulo PCF8574)
IO_LOC  "io_sda" K1;
IO_PORT "io_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "io_scl" K2;
IO_PORT "io_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// Boton 1: ON / OFF (Alterna entre estado activo y reposo [SYSTEM: OFF])
IO_LOC  "btn_on_off" F5;
IO_PORT "btn_on_off" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;

// Boton 2: MODO (Alterna entre Ascendente y Descendente conservando conteo)
IO_LOC  "btn_mode" G7;
IO_PORT "btn_mode" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;

// Boton 3: RESET CONDICIONAL (0 si Ascendente, 9 si Descendente)
IO_LOC  "btn_reset" H7;
IO_PORT "btn_reset" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
